* {
  margin: 0;
  padding: 0;
}

body {
  padding: 40px;
  font-family: sans-serif;
}

form {
  padding: 1rem;
  font-size: 1rem;
}

label {
  font-weight: bold;
}

input {
  padding: 0.75rem 0.5rem;
  font-size: 1rem;
}

button {
  border: none;
  padding: 0.75rem 1rem;
  font-size: 16px;
  cursor: pointer;
  transition-duration: 300ms;
}

button:disabled,
button:disabled:hover {
  background-color: #cccccc;
  cursor: not-allowed;
}

.form-item {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}

.form-item label {
  margin: 0 0 0.25rem 0;
}

.btn-primary {
  background-color: #039be5;
  color: #FFFFFF;
}

.btn-primary:hover {
  background-color: #01579b;
}

.btn-outline-secondary {
  background-color: #FFFFFF;
  border: 2px solid #039be5;
}

.btn-outline-secondary:hover {
  color: #FFFFFF;
  border-color: #01579b;
  background-color: #01579b;
}

.btn-new {
  display: block;
  margin: 10px 0;
  text-align: right;
}

.validation-errors {
  color: #d32f2f;
  display: flex;
  flex-direction: column;
  justify-items: center;
  gap: 8px;
  margin-top: 0.25rem;
}

.page-title {
  text-align: center;
}

input.ng-invalid,
select.ng-invalid {
  border-left: 5px solid #d32f2f; /* red */
}

input.ng-valid,
select.ng-valid  {
  border-left: 5px solid #42A948; /* green */
}

a:visited {
  color: rgb(0, 0, 238);
}

a:hover {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 0.25rem;
  text-align: left;
  border: 1px solid #ccc;
}

tbody tr:nth-child(odd) {
  background: #eee;
}

table .actions {
  text-align: right;
}


table .actions button {
  margin: 0 5px;
}
